.advertisement-offers {
  background-color: black;
  border-radius: 0.4rem;
  padding: 2rem 10rem;
  text-align: center;
  margin: 8rem auto;
  width: 40%;
}
.advertisement-offers-ligth {
  background-color: white;
  border-radius: 0.4rem;
  padding: 2rem 10rem;
  text-align: center;
  margin: 8rem auto;
  width: 40%;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
.advertisement-offers__title {
  color: white;
  font-size: large;
  font-weight: bold;
}
.advertisement-offers__title-ligth {
  color: black;
  font-size: large;
  font-weight: bold;
}
