.footer-menu {
  background-color: black;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.footer-menu-ligth {
  background-color: white;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.footer-menu__information {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 2rem 4rem;
}
.footer-menu__contact {
  display: flex;
  flex-direction: column;
  color: white;
}
.footer-menu__contact-ligth {
  display: flex;
  flex-direction: column;
  color: black;
}
.footer-menu__derechos {
  border-top: 1px solid #877f7f;
  color: white;
  text-align: center;
  width: 100%;
  padding: 1rem 0;
}
.footer-menu__derechos-ligth {
  border-top: 1px solid #877f7f;
  color: black;
  text-align: center;
  width: 100%;
  padding: 1rem 0;
}
