#root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.app-contacto,
.app-ofertas,
.app-about {
  margin: 150px auto;
}


main {
  flex: 1;
}